@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body {
    height: 100% !important;
    width: 100% !important;
}

body{
    background-color: rgb(68, 68, 68) !important;
}

button{
    display: block;
    width: 5rem !important;
    height: 2rem !important;
    font-size: 1rem;
    margin: 0.25rem !important;
    padding: 0% !important;
}

.titleBar {
    width: 100% !important; 
    height: 1.75rem;
    margin: 0rem !important;
    -webkit-app-region:drag; 
}
.appIcon{
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.25rem;
}
.titleBarText{
    padding-left: 0.45rem !important;
    color: lightgray !important;
    font-size: 0.85rem;
}



.crossIcon{
    position: absolute;
    right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 10px !important;
    
    -webkit-app-region:no-drag !important; 
}
.crossIcon:hover{
    height: 1.5rem;
    width: 1.5rem;
}



.windowContent{
    position: absolute;
    top: 1.75rem;
    bottom: 0px;
    width: 100%;
    background-color: #262627;
}

